@import "../../styles/variables";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: $color-dark-grey;
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  padding: 2% 0%;
  .wrapper {
    width: 90%;
    display: grid;
    place-items: center;
    .dynamic_block {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin-bottom: 3%;
    }
  }
}

@media screen and (max-width: 850px) {
  .root {
    .wrapper {
      width: 95%;
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    .wrapper {
      width: 95%;
      .dynamic_block {
        flex-direction: column-reverse;
      }
    }
  }
}
