$size: calc(1vh + 1vw);
$color-grey: #444444;
$color-orange: #ff8311;
$color-dark-grey: #353535;
$color-white: #f1f1f1;
$color-green: #445d48;
$color-dark-green: #273529;
$color-milk: #e9e5d6;
$color-brown: #555843;
