@import "../../styles/variables";

.root {
  width: 100%;
  background-color: $color-dark-grey;
  display: grid;
  place-items: center;
  padding: 2% 0%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1002;

  .wrapper {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .logo {
      width: 10%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%, -25%);
    }
    .icons_block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: fit-content;
      position: relative;
      width: 6%;
      a {
        width: 35%;
        img {
          width: 100%;
        }
      }
      img {
        width: 35%;
        height: 100%;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
          transform: scale(1.1);
        }
      }
    }
  }
}

.military_root {
  background-color: $color-dark-green;
}

@media screen and (max-width: 1000px) {
  .root {
    padding: 3% 0%;
    .wrapper {
      .logo {
        width: 13%;
      }
      .icons_block {
        width: 8%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .root {
    padding: 3% 0%;
    .wrapper {
      .logo {
        width: 15%;
      }
      .icons_block {
        width: 10%;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    padding: 4% 0%;
    .wrapper {
      .logo {
        width: 20%;
      }
      .icons_block {
        width: 13%;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .root {
    padding: 4.5% 0%;
    .wrapper {
      .logo {
        width: 25%;
      }
      .icons_block {
        width: 18%;
      }
    }
  }
}
