@import "../../styles/variables";

.root {
  position: absolute;
  top: 190%;
  right: 0;
  background-color: $color-white;
  place-items: center;
  border-radius: 5px;
  z-index: 1001;
  width: 270px;
  padding-top: 7%;
  padding-bottom: 5%;
  display: none;
  .wrapper {
    width: 100%;
    display: grid;
    place-items: flex-start;
    .user_logo_block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0% 5%;
      gap: 5%;
      width: 100%;
      margin-bottom: 5%;
      h3 {
        color: $color-dark-grey;
        font-size: calc(#{$size}/ 1.35);
        width: fit-content;
      }
      .user_avatar {
        width: 22%;
        height: 100%;
        pointer-events: none;
        border-radius: 50px;
      }
    }
    p,
    a {
      color: $color-dark-grey;
      text-decoration: none;
      width: 100% !important;
      font-size: calc(#{$size}/ 1.4);
      margin-bottom: 3%;
      padding-left: 5%;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    .exit_button {
      border-top: 1px solid $color-grey;
      padding-top: 3%;
      width: 100%;
    }
    .military_button {
      border-bottom: 1px solid $color-grey;
      padding-bottom: 3%;
      width: 100%;
    }
  }
}
.show_popup {
  display: grid;
}

.military_root {
  background-color: $color-milk;
}

@media screen and (min-width: 1540px) {
  .root {
    width: 340px;
  }
}

@media screen and (max-width: 650px) {
  .root {
    .wrapper {
      .user_logo_block {
        h3 {
          font-size: 17px;
        }
      }
      p,
      a {
        font-size: 15px;
      }
    }
  }
}
