@import "../../styles/variables";

.root {
  .article {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0%;

    img {
      width: 30%;
      height: 30%;
    }
    .text_block {
      width: 60%;
      h3 {
        font-size: calc(#{$size}* 2.2);
        text-transform: uppercase;
        font-weight: 800;
        margin: 0;
        color: $color-dark-grey;
        b {
          color: $color-orange;
        }
      }
      p {
        font-size: calc(#{$size}/ 1.1);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 2%;
        img {
          width: 4%;
          height: 4%;
        }
      }
    }
  }
}
